<h2>Transfer Money</h2>

<%= simple_form_for(@customer_transaction) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :transaction_type, :value => 0 %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.hidden_field :transaction_date, :value => Time.now.to_date %>

  <%= f.input :recipient_customer_id, :label => 'Select Customer to Transfer To', :collection => @customers %>

  <%= f.input :amount, label: "Amount to transfer (CAD)" %>

  <div class="form-actions">
    <%= f.button :submit, "Transfer Money" %>
  </div>
<% end %>
